body {
  background-color: #000000;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #ADADAD;
}

h2 {
  font-size: 64px;
  color: #EC3343;
  font-weight: 400;
}

.container {
  max-width: 90%;
  width: 1400px;
  margin: 0 auto;
}

.inter-Thin {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.inter-Regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-Medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-SemiBold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.inter-Bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.btn {
  background-color: #EC3343;
  height: 52px;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 20px;
  border-radius: 10px;
}

.hero-title {
  margin-top: 73px;
  font-size: 72px;
  color: #EC3343;
  text-align: center;
  line-height: 1.1;
}

.lent {
  margin-top: 122px;
  width: 100%;
}